@page
@model Final_Project.Pages.FoodReviewers.MoreModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h1>Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.FoodReviewer.Name)
        </dt>
        
        @foreach(var r in Model.FoodReviewer.ReviewResturants)
        {
           <form method="post">
                        <input type="hidden" value="@r.FoodReviewer.FoodReviewerID" />
                        <li>
                            @r.resturant.Name <input type="submit" Value="Remove" class="btn btn-danger btn-sm my-1" asp-page-handler="DeletedReview" asp-route-id="@Model.FoodReviewer.FoodReviewerID">
                        </li>
                    </form>
        }
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
